*{
  margin: 0;
  padding: 0;
}
nav{
  background-color:teal;
  display: flex;
  justify-content: space-between;
}
ul{
  display: flex;
  
}
li{
  margin: 20px;
  list-style: none;
  text-transform: capitalize;
}
h1{
  padding: 20px;
  color: black;
  font-style: italic;
}

.home{
  background-color: grey;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
.card{
  margin: 20px auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border-radius: 2px;
  box-shadow: 3px 2px 3px silver;
  transition: all 0.3s ease-in-out;
  padding: 3px;
}
.textGroup {
  padding: 10px 0;
  text-align: center;
  color: white;
}
img{
  margin: 5px;
}  
main {
  height: 21vh;
  background-color: teal;
  display: flex;
   flex-wrap: wrap ;
}
.myending{
  display: flex;
  -ms-flex-align: end;
}
.container img{
  height: 35vh;
  width: 40vh;
}
form{
  display: grid;
  height: 700px;
  background-color: gray;
  padding-left: 80vh ;
  padding-top: 20vh;
}
input{
  height: 4ch;
  width: 30vh;
  border-radius: 1vh;
  margin: 10px;
display: grid;
}
button {
  width: 10ch;
  height: 4ch;
border-radius: 1vh;
box-sizing: content-box;  
}
bitch{
  padding-left: 10ch;
}
.forms{
  height: 800px;
  background-color: gray;
  padding-left: 80vh;
  padding-top: 20vh;
}